<h1>Articles</h1>


<% @articles.each do |article| %>
  <% cache article do %>
    <h2><%= link_to article.title, article_path(article) %></h2>
    <p><%= article.content %></p>
  <% end %>
<% end %>


<%= tag.div "Hello, world!" %>

<%= tag.section class: token_list("kitties", "puppies", nil, false, { bar: true }) %>

<%= tag.div data: { user_id: 123 } do %>
  <p>Inside div with data attribute</p>
<% end %>

<% mobile, alignment = true, "center" %>
<%= tag.div class: class_names("flex items-#{alignment}", "flex-col": mobile) do %>
  <p>Styled div</p>
<% end %>


