<h1>Articles</h1>

<%= debug(@articles) %>

<ul>
  <% @articles.each do |article| %>
    <li>
      <strong><%= link_to article.title, article_path(article) %></strong>
      <p><%= article.content %></p>
      <p><em>By <%= article.author_name %></em></p>
    </li>
  <% end %>
</ul>

<p><%= link_to "View as Atom Feed", articles_path(format: :atom) %></p>


