<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Action View Helpers" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= javascript_include_tag "application" %>

    <%= stylesheet_link_tag "application", media: "all" %>

    <%= auto_discovery_link_tag :rss, "http://www.example.com/feed.rss", title: "RSS Feed" %>

    <%= preload_link_tag "application.css" %>

    <title><%= content_for?(:html_title) ? yield(:html_title) : "Default Title" %></title>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= image_tag "/rails.png", alt: "Rails Logo", size: "100x100" %>
    <strong>This is rails logo.</strong>

    <%= favicon_link_tag "/favicon.ico", size: "100x100" %>

    <%= audio_tag "/sound.mp3", controls: true %>

    <%= video_tag "/trailer.mp4", controls: true, size: "640x480" %>

    <%= picture_tag "/icon.webp", "/icon.png" %>

    <%= yield %>
  </body>
</html>

